@if (embedded()) {
  <div class="destinations-content">
    <h2 class="column-title">{{ t().destinationsTitle }}</h2>
    <div class="destinations-subgrid">
      <ul>
        @for (dest of destinationsColumn1; track dest.name) {
          <li [class.highlight]="dest.highlight">{{ dest.name }}</li>
        }
      </ul>
      <ul>
        @for (dest of destinationsColumn2; track dest.name) {
          <li [class.highlight]="dest.highlight">{{ dest.name }}</li>
        }
      </ul>
    </div>
  </div>
} @else {
  <section id="destinations" class="destinations-hero">
    <div class="container">
      <div class="destinations-col">
        <h2 class="column-title">{{ t().destinationsTitle }}</h2>
        <div class="destinations-subgrid">
          <ul>
            @for (dest of destinationsColumn1; track dest.name) {
              <li [class.highlight]="dest.highlight">{{ dest.name }}</li>
            }
          </ul>
          <ul>
            @for (dest of destinationsColumn2; track dest.name) {
              <li [class.highlight]="dest.highlight">{{ dest.name }}</li>
            }
          </ul>
        </div>
      </div>
    </div>
  </section>
}
